[phases.setup]
nixPkgs = ["nodejs", "chromium", "ffmpeg"]

[variables]
PUPPETEER_SKIP_CHROMIUM_DOWNLOAD = "true"
NPM_CONFIG_PRODUCTION = "false"
PRISMA_ENGINES_MIRROR = "https://binaries.prisma.sh"

[phases.install]
cmds = [
    "npm install --prefix Frontend",
    "npm install --prefix Backend --ignore-scripts",
    "npm run generate --prefix Backend"
]

[phases.build]
cmds = [
    "npm run build --prefix Frontend",
    "npm run build --prefix Backend"
]

[start]
cmd = "export CHROME_BIN=$(which chromium 2>/dev/null || which chromium-browser 2>/dev/null || echo '') && npm start --prefix Backend"
