[phases.setup]
nixPkgs = ["nodejs", "ffmpeg"]

[variables]
CHROME_BIN = ""
NPM_CONFIG_PRODUCTION = "false"
PRISMA_ENGINES_MIRROR = "https://binaries.prisma.sh"

[phases.install]
cmds = [
    "npm install --prefix Frontend",
    "npm install --prefix Backend"
]

[phases.build]
cmds = [
    "npm run build --prefix Frontend",
    "npm run build --prefix Backend"
]

[start]
cmd = "npm start --prefix Backend"
