[phases.setup]
nixPkgs = ["nodejs", "chromium", "ffmpeg"]

[variables]
PUPPETEER_SKIP_CHROMIUM_DOWNLOAD = "true"
CHROME_BIN = "/usr/bin/chromium-browser"
NPM_CONFIG_PRODUCTION = "false"
PRISMA_ENGINES_MIRROR = "https://binaries.prisma.sh"

[phases.install]
cmds = [
    "npm install --prefix Frontend",
    "npm install --prefix Backend --ignore-scripts"
]

[phases.build]
cmds = [
    "cd Backend && npx prisma generate --schema=../Database/schema.prisma",
    "npm run build --prefix Frontend",
    "npm run build --prefix Backend"
]

[start]
cmd = "npm start --prefix Backend"
